[submodule "third_party/mujoco_menagerie"]
	path = third_party/mujoco_menagerie
	url = https://github.com/deepmind/mujoco_menagerie.git
	branch = main
[submodule "roboband"]
	path = roboband
	url = https://github.com/ppplusss/Roboband.git
[submodule "text2midi"]
	path = text2midi
	url = https://github.com/CHY-114/text2midi.git
